*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&subset=latin-ext');

:root{
    --brightYellow: #E3b505;
    --darkBrown: #bb9457;
    --yellow: rgb(242,180,80);
    --brown:#382923;
    --black:#191919;
    --grey:#a9b2ac;
}
