@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cookie');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

:root{
    --brightYellow: #E3b505;
    --darkBrown: #bb9457;
    --yellow: rgb(242,180,80);
    --brown:#382923;
    --black:#191919;
    --grey:#a9b2ac;
}

body{
    color: var(--black);
   background: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url('../img/bodyBcg.jpeg');
   font-family: 'Arimo';
}

.section-padding{
    padding:3rem 0;
}

.grid-container{
    max-width: 90vw;
    margin:2rem auto;
    display: grid;
    grid-row-gap: 2rem;

     @media screen and (min-width:768px){
        max-width: 75vw;
     }
}

.grid-container--medium-2{
    @media screen and (min-width:768px){
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
    }
}

.section-title{
    padding: 1rem 0.5rem;    
}
.section-title--left{
    margin-left:10rem;
}

.section-title__name{
    font-size: 4rem;
    text-transform: capitalize;
    font-family: 'Cookie',cursive;
}

.section-title__underline{
    background: var(--yellow);
    width: 6rem;
    height:0.4rem;
}
.section-title__text{
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: var(--grey);
}